 <!-- Footer-->
 <div class="py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-4 mb-lg-0">
          <h5>Contact Us</h5>
          <ul class="contact-info list-unstyled">
            <li><a href="mailto:hello@lipaswift.co" class="text-dark">hello@lipaswift.co,</a></li>
            <li><a href="tel:123456789" class="text-dark">+255 765 262 285,</a></li>
            <li>Buni Hub,</li>
            <li>Costech Building.</li>
          </ul>
          <p class="text-muted">Drop by and say Hello.</p>
        </div>
        <div class="col-lg-4 col-md-6">
          <h5>Links</h5>
          <ul class="links list-unstyled">
            <li> <a href="#" class="text-muted">About Us</a></li>
            <li> <a href="#" class="text-muted">How It Works</a></li>
            <li> <a href="#" class="text-muted">Our Retailers</a></li>
            <li> <a href="#" class="text-muted">Terms of Service</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6">
          <h5>Social Media</h5>
          <ul class="links list-unstyled">
            <li> <a href="#" class="text-muted">lipaswift</a></li>
            <li> <a href="#" class="text-muted">lipaswift</a></li>
            <li> <a href="#" class="text-muted">lipaswift</a></li>
            <li> <a href="#" class="text-muted">lipaswift</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3 bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-7 text-center text-md-left">
          <p class="mb-md-0">&copy; 2018 Lipaswift.  All rights reserved. </p>
        </div>
        <div class="col-md-5 text-center text-md-right">
          <p class="mb-0"><a href="https://bootstrapious.com/" class="external text-white">Terms and Conditions</a> </p>
        </div>
      </div>
    </div>
  </div>